.image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card-img-top {
    width: 100%;
}
.card {
    width: 350px;
    margin: 15px;
    height: 31vw;
    display: inline-flex;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.container {
    text-align: center;
}
.box {
    width: 120px;
    height: 30px;
    border: 1px solid #999;
    font-size: 18px;
    color: #000000;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 5px 5px #ccc;
    margin-top: 5px;
    
}
#clearBtn {
    width: 120px;
    height: 1.6em;
    border: 1px solid rgb(245, 84, 84);
    font-size: 20px;
    color: #000000;
    background-color: rgb(245, 84, 84);
    box-shadow: 4px 4px #ccc;
    padding: 0;
}

#displayBtn {
    width: 120px;
    height: 30px;
    border: 1px solid rgb(39, 87, 245);
    font-size: 20px;
    color: #ffffff;
    background-color: rgb(39, 87, 245);
    box-shadow: 4px 4px #ccc;
    padding: 0;
}
/*
#cardSection {
    margin: 3px 9px 9px 3px;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 160px;
    min-height: 80px;
    display: inline-flex;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.5);
} */