.image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

table,
th,
tr,
td {
    border: 2px solid black;
    margin: 0 auto;
    padding: 5px;
    margin-top: 10px;

}

.container {
    text-align: center;

}

select {
    width: 400px;
}